
# node modules
node_modules/

# cache folder
.cache/

# Gatsby build directory
public/

# VSCode settings
.vscode/

# dotenv environment variables file
.env

# TODOs
TODO.md

# Logs
logs
*.log
npm-debug.log*
